<h1>Welcome, <%= current_user.name %></h1>
<h1><%= button_to 'Explore', explore_path, method: :get %></h1>
<section id='traveller'>
<h2>Traveller</h2>
  <h3>Favorites/Saved Excursions</h3>
  <section id='saved_excursion'>

  </section>
    <h2>Travelboards/organize by city/location</h2>
  </section>

<section id='local'>
<h2>Local</h2>
  <h3>Local Excursions</h3>
  <h3><%= button_to 'Add Excursions', excursions_new_path, method: :get %></h3>
  <section id='my_excursion'>
    <h4>Denver, CO <%= button_to 'Delete' %> <%= button_to 'Edit', excursions_edit_path, method: :get %></h4>
  </section>
</section>
