<br/>
<br/>
<br/>
<br/>
<h1>Edit Excursion</h1>

<%= form_with url: excursions_update_path(@excursion.id), method: 'patch', local: true do |f|  %>
  <%= f.label :title, 'Excursion Title' %>
  <%= f.text_field :title, value: @excursion.title %><br /><br />
  <%= f.label :description, 'Excursion Description' %>
  <%= f.text_field :description, value: @excursion.description %><br /><br />
  <%= f.label :location, 'Excursion Location' %>
  <%= f.text_field :location, value: @excursion.location %><br /><br />
  <%= f.submit 'Update Excursion' %>
<% end %>


<footer>
  <span>Photo by <a href="https://unsplash.com/@photoripey?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Ibrahim Rifath</a> on <a href="https://unsplash.com/s/photos/free?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
</footer>