<div class="greet">
    <h1> <%= @excursion.title %> Details </h1>
</div>


<div class="excursion-group">
  <div class="excursion-details" >
    <p><b>Name: </b><%= @excursion.name %></p>
    <p><small>Status: <%= @excursion.business_status.capitalize %></small></p>
    <p><b>Local's Description: </b><%= @excursion.description %></p>
    <p><b>Address: </b><%= @excursion.address %></p>
    <p><b>Hours: </b><%= @excursion.opening_hours %></p>
    <p><b>Website: </b><%= link_to @excursion.website, @excursion.website, style: "color: #CFFEBA" %></p>
    <p><b>Date Last Updated: </b><%= @excursion.updated_at.to_date.strftime('%^B %-d %Y') %></p>
  </div>
</div>
