<h1>Explore Page </h1>

<h1><%= text_field_tag :city %></h1>
<h1><%= button_to 'Search by City' %></h1>

<h2>Search Results </h2>
<% @excursions.each do |excursion| %>
  <p><%= excursion.title %></p>
  <p><%= excursion.description %></p>
  <h2><%=button_to "Save" %></h2>
<% end %>

