<!DOCTYPE html>
<html>
  <head>
    <title>Go Local</title>
    <%= favicon_link_tag 'go_local.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if current_user %>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <%= image_tag 'go_local.png', class: "navbar-brand", style: 'width:80px' %>
        <%= link_to 'Logout', logout_path %>
      </nav>
    <% end %>

    <% flash.each do |type, msgs|%>
    <h4><%= msgs %></h4>
    <% end %>

    <%= yield %>
  </body>
</html>
