<!DOCTYPE html>
<html>
  <head>
    <title>GoLocalFrontend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
  <a class='navbar-brand' href='/'>Home</a>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
  </form>
  <%= button_to 'Logout', logout_path, method: :get unless !current_user%>
</nav>
    <% flash.each do |type, msgs|%>
      <h4><%= msgs %></h4>
    <% end %>
    <%= yield %>
  </body>
</html>
