<!DOCTYPE html>
<html>
  <head>
    <title>GoLocalFrontend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= link_to 'Logout', logout_path unless !current_user%>
    <% flash.each do |type, msgs|%>
      <h4><%= msgs %></h4>
    <% end %>
    <%= yield %>
  </body>
</html>
